body {
background-color: rgb(255, 255, 255);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}


nav{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
   
 
}

 nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    
 }

 h1 {
    padding: 10px;
    height: 2px;
 }

.box {
  display: flex; /*adicionar os  item na mesma linha*/
  flex-wrap: wrap; /*adiciona as colunas uma embaixo da outra */
  gap: 60px;/*espaço entre cada topico*/
  max-width: 400px; /*define a largura a pagina*/
  padding: 15px; 
  
}

.linguagens h3 {
  font-size: 1.1rem;
  margin-bottom: 0.9rem; /*espaço entre o conteudo e o titulo*/
}





