body {
background-color: rgb(255, 255, 255);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}


nav{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
   
 
}

 nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    
 }

 .solt {
  display: flex; /*adicionar os  item na mesma linha*/
  flex-wrap: wrap; /*adiciona as colunas uma embaixo da outra */
  gap: 10px;/*espaço entre cada topico*/
  max-width: 400px; /*define a largura a pagina*/
  padding: 15px; 
  
}

.vendas h2 {
  font-size: 1.2rem;
  margin-bottom: 0.1rem; /*espaço entre o conteudo e o titulo*/
}
 img{
   
     width: 60%; /*tamanho da foto*/
      margin-right: 20px; /*espaço entre a foto e o texto*/   
}



