body {
background-color: rgb(255, 255, 255);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}


nav{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
   
 
}

 nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    
 }

 img{
    float: left; /*é oq deixa o texto ao lado da foto*/
     width: 17%; /*tamanho da foto*/
      margin-right: 20px; /*espaço entre a foto e o texto*/
      
    
}
 