body {
    background: linear-gradient(130deg , #000000, #686767,#3f3f3e);
    color: rgba(255, 255, 255, 0.829);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}


 main {
    text-align: center;
    margin-right: 40rem;
    margin-left: 2rem;
 }


 img{
    float:left ;
    width: 13rem;
    margin-left: 60rem;
    margin-top: -14.5rem;
    border-radius: 20%;
      
}

 .solt {
  display: flex; 
  flex-wrap: wrap; 
  gap: 10px;
  max-width: 400px; 
  padding: 15px; 
  
}

.vendas h2 {
  font-size: 1.2rem;
  margin-bottom: 0.1rem; 
}

.Habilidades {
    padding: 20px;
}

.box {
  display: flex; 
  flex-wrap: wrap;
  margin-top: -4rem;
  gap: 30px;
  max-width: 20rem; 
  padding: 15px; 
  
}

.linguagens h3 {
  font-size: 1.1rem;
  margin-bottom: 0.9rem; 
}
 

.projects {
    float: right;
    margin-top: -39rem;
    margin-right: 5rem;
}

.projects h1 {
    margin: -1rem;
}